[Desktop Entry]
Comment=
Exec='/usr/local/bin/tilem2'
GenericName=TI Linux Emulator
Icon=
InitialPreference=2
MimeType=application/x-tilem2
Name=TilEm2
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
